.blog__main {
  margin-top: 1rem;
  > img {
    height: 10.25rem;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 20px 20px 49px #cccccc, -20px -20px 49px #f4f4f4;
  }

  h5 {
    margin: 0;
  }

  .blog__content {
    margin-top: 2rem;

    .blog__time {
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: 550;
      color: #ff8a00;
    }

    h3 {
      font-weight: 800;
      font-size: 1.6rem;
      margin-top: 0.3rem;
      margin-bottom: 0;
    }

    p {
      font-size: 1rem;
      margin: 1rem 0;
      color: #595959;
    }
  }

  .blog__shareContainer {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 0.5rem 0;

    > * {
      margin-right: 0.8rem;
    }

    > button {
      background: transparent;
      border: none;
      display: grid;
      place-items: center;
    }
  }

  .blog__scrollToTop {
    display: grid;
    place-items: center;
    width: 2.2rem;
    height: 2.2rem;
    margin-left: auto;
    border-radius: 5px;
    background-color: #ff8a00;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }
}

.blog__blogsByCategory__item {
  padding: 0.5rem 0;
  transition: box-shadow 0.2s ease-in-out;

  > h4,
  > p {
    margin: 0;
  }

  h4 {
    font-size: 1.2rem;
    color: #ff8a00;
  }

  > span {
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  > p {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }

  &:hover {
    box-shadow: 0 5px 40px rgb(0 0 0 / 4%);
  }

  a {
    display: flex;
    align-items: center;

    > * {
      margin-right: 0.2rem;
    }
    text-decoration: none;
    color: #0070f3;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

.blog__blogsByCategory__item__with_border {
  border-bottom: 1px solid #e6e6e6;
}
