@mixin itemBackground {
  border-radius: 10px;
  background-color: #fff6ed;
  border: 1px solid #ffcc92;
  color: #ff9d2e;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.blogs__main {
  .blogs__blogItem {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;

    > img {
      height: 6.25rem;
      width: 100%;
      border-radius: 5px 5px 0 0;
    }

    .blogs__blogItemFooter {
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .blogs__blogTitle {
        font-size: 0.8rem;
      }
    }
  }

  h5 {
    margin: 0;
  }
}

.visualStoriesContainer {
  display: flex;
  min-height: min-content;
  overflow-x: scroll;
  padding: 1rem;
  > * {
    margin-right: 1rem;
  }

  img {
    width: 4.5rem;
    height: 8rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }
}

.blogs__categories__wrapper {
  margin: 1.7rem 0 1.7rem 0;
  display: flex;
  align-items: center;
  height: max-content;

  > * {
    margin-right: 1rem;
  }

  > svg {
    font-size: 2.5rem;
  }
}

.blogs__categoriesContainer {
  display: flex;
  align-items: center;
  min-height: min-content;
  overflow-x: scroll;

  > * {
    margin-right: 1rem;
  }

  > .blog__categoryItem {
    @include itemBackground;
    flex-shrink: 0;
  }

  > .blog__categoryItemSelected {
    background-color: #ff8a00;
    color: #fff;
  }
}

.blogs__likeButton {
  svg {
    font-size: 1rem;
    animation-name: bounce;
    transition: color 0.2s ease-in-out;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }
}

.blogs__likeButtonFilled {
  svg {
    color: #d90429;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}
