.consultationPayment__main {
  label {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
  }

  h6 {
    color: #ff8a00;
    font-size: 0.9rem;
    margin: 0;
  }

  table {
    margin-top: 1rem;
  }

  thead {
    font-size: 0.9rem;

    :first-child {
      width: 20%;
    }

    :not(:first-child) {
      width: 40%;
    }
  }

  tbody {
    font-size: 0.8rem;
  }

  th,
  td {
    text-align: left;
  }

  .consultationPayment__promoContainer {
    font-size: 0.7rem;

    > div {
      display: inline-flex;

      > * {
        margin-right: 1rem;
      }

      input {
        height: 1.6rem;
      }

      button {
        border: 0;
        background: #ff8a00;
        color: #fff;
        border-radius: 5px;
        padding: 0 1rem;
      }
    }
  }

  .consultationPayment__radioGroup {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > div {
      display: flex;
      align-items: center;
      font-size: 0.7rem;
      font-weight: 600;
      color: #ff9d2e;
      background-color: #fff6ed;
      border: 1px solid #ffcc92;
      border-radius: 10px;

      > * {
        margin-right: 0.4rem;
      }

      > input {
        width: 1.2rem;
        height: 1.2rem;
        z-index: 0;
      }

      > p {
        margin: 0;
        z-index: 1;
      }
    }

    .consultationPayment__radioSelected {
      color: #fff;
      background-color: #ff9d2e;
    }

    :first-child {
      margin-bottom: 0.2rem;
    }
  }

  .consultationPayment__makePaymentContainer {
    margin-top: 3rem;
    text-align: center;
  }

  .consultationPayment__makePayment {
    border: 0;
    background: #ff8a00;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
  }
}
