.raiseTicket__main {
  .raiseTicket__imageContainer {
    display: flex;
    justify-content: center;
  }
  img {
    width: 60%;
    height: 8.5rem;
  }

  h3 {
    text-align: center;
  }

  form {
    > div {
      margin-bottom: 1rem;
    }
  }

  .raiseTicket__inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    > label {
      font-size: 0.9rem;
      font-weight: 600;
      color: #ff8a00;
    }

    > input,
    textarea {
      &::placeholder {
        font-size: 0.8rem;
        font-weight: 600;
      }

      border: 1px solid rgb(148, 148, 148);
      padding: 0.4rem 0.5rem;
      border-radius: 10px;

      &:focus {
        outline: 1px solid #ffa237;
      }
    }

    > textarea {
      height: 8.5rem;
    }
  }

  .raiseTicket__buttonContainer {
    display: flex;
    justify-content: center;
  }

  button {
    border: 0;
    background: #ff8a00;
    color: #fff;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0 auto;
  }
}

.raiseTicket__error {
  font-size: 0.8rem;
  color: #ff1100;
}
