.visualStories__main {
  position: relative;

  .visualStories__header_container {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 1.5rem;

    svg {
      background-color: rgb(221, 221, 221);
      border-radius: 1.5rem;
      padding: 0.2rem;
      cursor: pointer;
    }
  }

  > div {
    z-index: 1;
  }
}

.visualStories__story {
  > img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  > h1 {
    position: absolute;
    top: 15%;
    padding: 0 1rem;
    color: #fff;
    z-index: 1;
  }

  > p {
    position: absolute;
    top: 55%;
    padding: 0 1rem;
    color: #fff;
    z-index: 1;
  }
}
