@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  padding: env(safe-area-inset);
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.page-safeareas {
  padding: 0rem 1rem;
}

.page-padding-top {
  padding-top: 4rem;
}

.page-header {
  font-size: 1.3rem;
}

.ruler-horizontal {
  height: 1px;
  background-color: #f0f0f0;
  margin: 1rem 0 1rem 0;
}

.error-text {
  color: #f33800;
  font-size: 0.7rem;
  white-space: pre;
  display: block;
}

input,
textarea {
  border: 1px solid rgb(190, 190, 190);
  padding: 0.4rem 0.5rem;
  border-radius: 10px;
}

input::placeholder,
textarea::placeholder {
  font-size: 0.8rem;
  font-weight: 600;
}

input:focus,
textarea:focus {
  outline: 1px solid #ffa237;
}

.signUp__form5__datePicker {
  display: flex !important;
  justify-content: center !important;
}

.signUp__form5__datePicker > input {
  width: 80%;
}

.Toastify__toast-container {
  border-radius: 10px !important;
}

.center-children-h {
  display: flex;
  justify-content: center;
}

.ReactModal__Overlay {
  z-index: 2;
}
